<!-- Landing page-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            <span>{{- site.landing_first -}}</span>
            <span class="text-primary">{{- site.landing_last -}}</span>
        </h1>
        <div class="subheading mb-5">{{- site.subheading -}}</div>
        <p class="lead mb-5">
            {{- site.intro -}}
        </p>
        <div class="social-icons">
            <a class="social-icon" href="mailto:{{- site.email -}}"><i class="fa fa-envelope"></i></a>
            <a class="social-icon" href="{{- site.linkedin_url -}}"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="{{- site.github_url -}}"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="{{- site.googlescholar_url -}}"><i class="ai ai-google-scholar"></i></a>
            <a class="social-icon" href="{{- site.arxiv_url -}}"><i class="ai ai-arxiv"></i></a>
        </div>
    </div>
</section>
